/* reset */
html {
  box-sizing: border-box;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  display: flex;
}

#cargrid {
  margin: auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  background-color: bisque;
  justify-content: space-evenly;
  /* align-items: stretch; */
}

#car-card {
  border: solid 2px #000000;
}

img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}
