/* reset */
html {
  box-sizing: border-box;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  display: flex;
}

#car-listings {
  margin: auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  background-color: bisque;
  justify-content: space-evenly;
  min-height: 100vh;
  width: 100vw;
  align-items: stretch;
}

.card {
  border: solid 2px #000000;
  height: 460px;
  background-color: transparent;
  margin: 5px;
  padding: 3px;
}

img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}
